/* Estilos de las cards */

.img-card{
    height: 250px;
    width: auto;
    object-fit: contain;
    
}

.card-body{
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.botonCompra{
    background-color: blueviolet;
    border: 1px solid darkmagenta;
}

.botonCompra:hover{
    border: 1px solid darkorchid;
    color: darkorchid;
    background-color: #ffffff;
}

  td{
    height: 100px;
  }

 h2{
   text-align: center;
   color:gray;
 }

 .precio{
   display:block;
   font-size:20px;
 }

 #carrito{
    width: 30%; 
    background-color: black; 
    height: 100vh;
 }
  
#listaProductos{

  width: 70%;
}

#contenedorPadre{

  display:flex;
}

.bi-cart-fill{
  font-size:40px;
  padding-left:40px;
}